.card{
  border-radius: 15px;
  padding: 25px 30px;
  background: var(--gray);
  margin-bottom: 30px;
  border: 1px solid var(--blue);

  &__title{
    font-size: 24px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 20px;
    color: var(--blue);
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 20px;
    color: var(--white);
    line-height: 120%;

    &:not(:last-child){
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--light-gray);
    }
  }
}
