.menu{
  padding: 50px 0px 50px 100px;
  background: var(--gray);
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 0;
}

.inner{
  flex-direction: column;
  display: flex;
  gap: 20px;
  position: sticky;
  top: 20px;
  right: 0;
}

.item{
  display: flex;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  color: var(--white);
  transition: all .3s;
  border-radius: 20px 3px 3px 20px;
  border-right: 7px solid transparent;
  gap: 15px;
  min-width: 270px;

  &__active{
    svg path{
      fill: var(--blue);
    }
    border-right-color: var(--blue);
    color: var(--blue);
    background: var(--second-gray);
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .menu{
    padding: 20px 0px;
  }

  .item{
    min-width: auto;
    border-radius: 0px 3px 3px 0px;
    span{
      display: none;
    }
  }
}
